.team-page {
    padding: 20px 0;
    text-align: center;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.team-member {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.team-member:hover {
    transform: scale(1.05);
}

.team-member img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;

}

.team-member h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.team-member h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #777;
}

.team-member p {
    font-size: 1em;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .team-member {
        flex: 1 1 calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .team-member {
        flex: 1 1 100%;
    }
}
